body {
    background-color:#E5E0E0;
    box-align:center;

    }
    header
    {
    background-color: #763030;
    color: #763030;
    }
    h1{
        font-family:Tahoma;
        font-size:15pt;
         color: #5D5D5D;
     }
